# Making a model to add two numbers

I'm going to use SciKit Learn to train a handful of models such as: basic linear regression, ridge regression, support vector regressors and others. 

To get started lets import training data. All math problems and thier answers were generated programmatically.

In [1]:
import numpy as np
import pandas as pd

In [6]:
small_data = pd.read_csv('1.0E+04 cases.csv')

In [7]:
small_data

      13  8  5
0      9  1  8
1      3  2  1
2     14  9  5
3     10  1  9
4      8  6  2
5     13  9  4
6      8  7  1
7     12  8  4
8     16  8  8
9     15  7  8
10    13  9  4
11     3  1  2
12     6  4  2
13     7  3  4
14     5  1  4
15    14  5  9
16    10  7  3
17    11  4  7
18     9  2  7
19     8  6  2
20    12  7  5
21    14  8  6
22    10  1  9
23     9  2  7
24     8  3  5
25     6  4  2
26     9  8  1
27    10  4  6
28    15  9  6
29    11  2  9
...   .. .. ..
9969   6  3  3
9970   9  3  6
9971  13  8  5
9972   8  4  4
9973  13  8  5
9974  12  5  7
9975  10  8  2
9976   2  1  1
9977  13  8  5
9978  13  5  8
9979   8  3  5
9980   5  1  4
9981  10  8  2
9982   7  2  5
9983   9  8  1
9984   9  1  8
9985  12  7  5
9986   7  1  6
9987  10  9  1
9988   7  6  1
9989   5  1  4
9990  13  9  4
9991  12  7  5
9992  11  4  7
9993   7  6  1
9994   5  4  1
9995   4  3  1
9996  14  9  5
9997   9  3  6
9998  16  9  7

[9999 rows x 3 columns]